name: Stage 3 - Jobs & Steps

on:
  push:

jobs:
  demo-job:
    name: Demo Job
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: echo "This is step 1"

      - name: Step 2
        run: echo "This is step 2"
